<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="form-group">
		<label for="address">주소</label><br> <input class="form-control"
			placeholder="우편번호" name="addr1" id="addr1" type="text"
			readonly="readonly" >
		<button type="button" class="btn btn-default"
			onclick="execution_daum_address()">
			<i class="fa fa-search"></i> 우편번호 찾기
		</button>
	</div>
	<div class="form-group">
		<input class="form-control" style="top: 5px;" placeholder="도로명 주소"
			name="addr2" id="addr2" type="text" readonly="readonly" />
	</div>
	<div class="form-group">
		<input class="form-control" placeholder="상세주소" name="addr3" id="addr3"
			type="text" />
	</div>
	<button id="addresschange">변경</button>
</body>
</html>
<script>
$(function() {
	$("#addresschange").on('click', function() {
		var id = "[[${userinfo.id}]]";
		var addr1 = $("#addr1").val();
		var addr2 = $("#addr2").val();
		var addr3 = $("#addr3").val();
		var addr = addr1+","+addr2+","+addr3;
		jsList.address(id,addr);
	});
	});
</script>