<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
<div class="form-group">
	<label for="pass">AlbumTitleName</label>
	<input type="text" class="form-control" id="titlename" name="titlename" value="" required placeholder="Title Name">
</div>
<button id="creatalbumtitle">만들기</button>
</body>
</html>
<script>
	$(function(){
		$("#creatalbumtitle").on('click',function(){
			var id = "[[${user.id}]]";
			var titlename = $("#titlename").val();
			if(titlename==''){
				alert("Title를 입렵 바랍니다.")
			}else{
				jsList.listmake(id,titlename);
			}
		});
	});
</script>