<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/commonLayout}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
	
<head>
<meta charset="UTF-8">
<title>개인정보 확인 및 수정 페이지</title>
<th:block layout:frgment="style">
<style>
#addr1 {
		width:40%; 
		display:inline;
		}
#content {
	margin-bottom: 10%;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}
</style>
</th:block>
</head>
<body>
	<div class="container mt-5" layout:fragment="content">
		<div id="content">
		<h2>[[${session.user.name}]] 님의 정보</h2>
			[[${session.user.photo}]]
			<table border="1">
			<tr>
			<td>
			<img th:alt="${session.user.photo}" th:src="${session.user.photo}" width="210px" height="210px">
			</td>
			</tr>
			</table>

				<div class="form-group">
					<label for="name">이름</label> 
					<input type="text" class="form-control" id="name" name="name" th:value="${session.user.name}" required>
				</div><br>
				
				<input type="text" id="userpass" style="width:400px;"  placeholder="비밀번호 변경시 기존 비밀번호 입력 바랍니다.">
				<button class="pwchange">비밀번호 변경</button>
				<div id="here1"></div>
				
				
				
				<div class="form-group">
					<label for="phone">전화번호</label> 
					<input type="tel" class="form-control" id="phone" name="phone" th:value="${session.user.phone}" required placeholder="하이픈(-) 뺴고 입력바랍니다." maxlength="11">
				</div><br>
				
				<button> 주소 변경 </button><br>

				<div class="form-group">
					<label for="email">이메일</label> 
					<input type="text" class="form-control" id="email" name="email" th:value="${session.user.email}"> 
					<span class="emailCheck_1">가입 가능한 이메일입니다.</span> 
					<span class="emailCheck_2">이미 가입한 이메일입니다.</span>
				</div><br>

				<div class="form-group">
					<label for="birth">생년월일</label> 
					<input type="date" class="form-control" id="birth" name="birth" th:value="${session.user.birth}" required onchange="inputCheck();">
				</div><br>
				
				<div class="form-group">
					<label for="gender">성별</label> 
					<select class="form-control" id="gender" name="gender">
						<option selected>남자</option>
						<option>여자</option>
					</select>
				</div><br>

				<div class="form-group">
					<label for="nickName">닉네임</label> 
					<input type="text" class="form-control" id="nickName" name="nickName" th:value="${session.user.nickName}" required> 
					<span class="nickCheck_1">사용 가능한 닉네임입니다.</span>
					<span class="nickCheck_2">이미 존재하는 닉네임입니다.</span>
				</div><br>
				
				<div class="form-group">
					<label for="img">사진</label>
					<input type="file" class="form-control" id="photo" name="photo" accept="img/*" th:value="${session.user.photo}">
					<button class="photo-btn">사진 업로드</button>
					
					<h4>사진 미리보기</h4>
					<div id="image"> <img id="img" /> </div>
				
				</div><br>

				<label for="grade"></label> 
				<input type="hidden" id="grade"	name="grade" value="Bronze" /> 
				<label for="score"></label> 
				<input type="hidden" id="score" name="score" value="0" /> 
				<input type="hidden" name="mrole" value="USER"/> 

			<button id="btnupdate" type="button" class="btn btn-warning">수정하기</button>
			<button id="btndelete" type="button" class="btn btn-danger">탈퇴하기</button>
			
			<!-- user info togoUpdate  -->
			<form method="post" action="" id="j">
			</form>
		</div>
	</div>

<th:block layout:fragment="script">
<!-- PW page관련 함수 import -->
<script th:inline="javascript" th:src="@{'/js/genrelist.js'}"></script>
<script th:inline="javascript">
	$(document).ready(function(e){
		$(".pwchange").on('click', function(){
			var userid = [[${session.user.id}]];
			var pass = $("#userpass").val();
			jsList.passcheck(userid,pass);
		});
	});

</script>
</th:block>
</body>
</html>