<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>AlbumShop Manager</title>
</head>

<div class="panel panel-default" layout:fragment="content1">

  <h1>Manager Main Page</h1>
  <h1>Welcome Manager</h1>
  <div id="functions">
    <a href="/manager/account/accountList.html">계정 관리</a>
    <a href="/manager/content/contentList.html">컨텐츠 관리</a>
    <a href="/manager/board/boardList.html">게시판 관리</a>
    <a href="/manager/delivery/deliveryList.html">주문 관리</a>
    <a href="/manager/QnA/QnAList.html">질문 관리</a>
  </div>
  <div id="panel-body">

  </div>

</div>
</body>
</html>