<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/commonLayout}">
<head>
    <meta charset="UTF-8">
    <title>주문 내역</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    <th:block layout:frgment="style">
        <style>
            a{text-decoration:none}
            input{
                width: auto;
            }
        </style>
    </th:block>
    <th:block layout:frgment="script">

    </th:block>
</head>
<body>
    <h1>주문 내역</h1>
</body>
</html>