<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/commonLayout}">
<head>
    <meta charset="UTF-8">
    <title>주문하기</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <th:block layout:frgment="style">
        <style>
            a{text-decoration:none}
            input{
                width: auto;
            }
        </style>
    </th:block>
    <th:block layout:frgment="script">
        <script th:inline="javascript">
            var cartId;
            var totalOrderPrice = 0;
            var totalMileage = 0;
            $(function () {
                cartId = Number.parseInt($(".cartId").val());
                console.log("cartId" + cartId);
                getOrderTotalPrice();
                //getMileage();
            });

            function getOrderTotalPrice() {
                var orderTotalPrice = 0;
                var deliveryFee = 3000;

                $("td[id^='total_price_']").each(function (){
                    var itemId = this.id.split('_')[2];
                    var price = $('#price_' + itemId).attr("data-price");
                    var quantity = $('#quantity_' + itemId).attr("data-quantity");

                    console.log(itemId);
                    console.log(price);
                    console.log(quantity);
                    orderTotalPrice += price * quantity;
                    console.log(typeof orderTotalPrice);

                });
                totalOrderPrice = orderTotalPrice;
                console.log("totalOrderPrice : " + totalOrderPrice);
                $("#orderTotalPrice").html(totalOrderPrice + '원');
                $("#deliveryFee").html(deliveryFee + '원');

                var finalOrderTotalPrice = orderTotalPrice + deliveryFee;
                $("#finalOrderTotalPrice").html(finalOrderTotalPrice + '원');
                //getMileage();
            };

            function delivery_request_change(e) {
                var value = e.value;

                $('#delivery_request_text').val(value);
            }

            /* 다음 주소 연동 */
            function execution_daum_address(){
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if(data.userSelectedType === 'R'){
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 주소변수 문자열과 참고항목 문자열 합치기
                            addr += extraAddr;

                        } else {
                            document.getElementById("sample6_extraAddress").value = '';
                        }

                        $("#zonecode").val(data.zonecode);
                        //$("[name=memberAddr1]").val(data.zonecode);    // 대체가능
                        $("#addressdetail").val(addr);
                        //$("[name=memberAddr2]").val(addr);            // 대체가능
                        // 커서를 상세주소 필드로 이동한다.
                        // 상세주소 입력란 disabled 속성 변경 및 커서를 상세주소 필드로 이동한다.
                        $("#zonecode").attr("readonly",true);
                        $("#addressdetail2").focus();
                    }
                }).open();
            }

            function toggleAddress() {
                if ($('#newaddress').is(":checked") == true) {
                    $('#zonecode').val('');
                    $('#addressdetail').val('');
                    $('#addressdetail2').val('');
                } else if ($('#defaultaddress').is(":checked") == true) {
                    var userAddress = $('#useraddress').val();
                    $('#addressdetail').val(userAddress);
                }

            }
        </script>
    </th:block>
</head>
<body>
    <div class="container mt-5" layout:fragment="content">
        <h1>주문하기</h1>
        <p>[[${session.user.id}]]님의 주문 페이지입니다.</p>
        <div th:if="${cartlist.size()} == 0">
            <input type="hidden" th:value="0" class="cartId">
        </div>
        <div th:unless="${cartlist.size()} == 0">
            <input type="hidden" th:value="${cartlist.get(0).getCartId()}" class="cartId">
        </div>
        <div>
            <div id="orderlist">
                <h3>주문 목록</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center" th:width="15px">#</th>
                        <th class="text-center" th:width="80px">커버</th>
                        <th class="text-center">앨범명</th>
                        <th class="text-center" th:width="200px">아티스트</th>
                        <th class="text-center" th:width="120px">단가</th>
                        <th class="text-center" th:width="70px">수량</th>
                        <th class="text-center" th:width="120px">합계</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="${cartlist.size()} == 0">
                        <tr>
                            <td colspan="7"><div id="listIsEmpty">장바구니가 비어있습니다.</div></td>
                        </tr>
                    </div>
                    <div th:unless="${cartlist.size()} == 0">
                        <tr th:each="cartDetail:${cartlist}">
                            <td class="text-center align-middle" th:text="${cartlist.indexOf(cartDetail)+1}"></td>
                            <td><a th:href="@{/albumdetail(albumId=${cartDetail.getAlbumId()})}" th:target="_blank"><img th:src="'../' + ${cartDetail.getCover()}" th:width="60px" th:height="60px" ></a></td>
                            <td class="align-middle"><a th:href="@{/albumdetail(albumId=${cartDetail.getAlbumId()})}" th:target="_blank" th:text="${cartDetail.getAlbumTitle()}"></a></td>
                            <td class="align-middle" th:text="${cartDetail.getArtistName()}"></td>
                            <td class="align-middle text-right" th:id="'price_' + ${cartDetail.getAlbumId()}" th:data-price="${cartDetail.getPrice()}" th:text="${cartDetail.getPrice()} + '원'"></td>
                            <td class="align-middle text-center" th:id="'quantity_' + ${cartDetail.getAlbumId()}" th:data-quantity="${cartDetail.getQuantity()}" th:text="${cartDetail.getQuantity()}"></td>
                            <td class="align-middle text-right" th:id="'total_price_' + ${cartDetail.getAlbumId()}" th:data-price="${cartDetail.getQuantity()} * ${cartDetail.getPrice()}" th:text="${cartDetail.getQuantity()} * ${cartDetail.getPrice()} + '원'"></td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
            <form action="/delivery/order/pay" method="post">
            <div id="destination_address">
                <h3>배송지</h3>
                <table class="table">
                    <tr>
                        <td>
                            <div class="radio">
                                <label><input type="radio" name="address" id="defaultaddress" value="defaultaddress" onclick="toggleAddress()" checked> 사용자 정보에 등록된 주소 </label>
                                <label><input type="radio" name="address" id="newaddress" value="newaddress" onclick="toggleAddress()"> 새로운 배송지 </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" id="zonecode" onclick="execution_daum_address()" readonly><input type="button" class="btn btn-default" onclick="execution_daum_address()" value="우편번호 찾기"></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" id="addressdetail" th:name="addressdetail" th:value="${session.user.getAddress()}"><input
                                type="hidden" id="useraddress" th:value="${session.user.getAddress()}"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="addressdetail2" placeholder="상세 주소"></td>
                    </tr>
                </table>
            </div>

            <div id="delivery_request">
                <h3>배송시 요청사항</h3>
                <table class="table">
                    <tr>
                        <td>
                            <select class="form-control" name="delivery_request_select" id="delivery_request_select" onchange="delivery_request_change(this)">
                                <option value="" selected>직접 입력</option>
                                <option value="부재시 경비실에 맡겨주세요.">부재시 경비실에 맡겨주세요.</option>
                                <option value="부재시 연락주세요.">부재시 연락주세요.</option>
                                <option value="배송 전 연락주세요.">배송 전 연락주세요.</option>
                                <option value="파손의 위험이 있으니 배송시 주의해주세요.">파손의 위험이 있으니 배송시 주의해주세요.</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" type="text" id="delivery_request_text">
                        </td>
                    </tr>
                </table>
            </div>

            <div id="pay_method">
                <h3>결제수단</h3>
                <table class="table">
                    <tr>
                        <td>
                            <div class="radio">
                                <label><input type="radio" name="paymethod" value="creditcard" checked> 신용카드 </label>
                                <label><input type="radio" name="paymethod" value="bank" disabled> 무통장입금 </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="pay_price">
                <h3>결제금액</h3>
                <table class="table">
                    <tr>
                        <td>주문금액</td>
                        <td><div id="orderTotalPrice"></div></td>
                    </tr>
                    <tr>
                        <td>배송비</td>
                        <td><div id="deliveryFee"></div></td>
                    </tr>
                    <tr>
                        <td>결제금액</td>
                        <td><div id="finalOrderTotalPrice"></div></td>
                    </tr>
                </table>
            </div>

            <div align="center">
                    <input type="button" class="btn btn-default btn-lg" onclick="history.back();" value="뒤로가기">
                    <input type="submit" class="btn btn-primary btn-lg" value="결제하기">
            </div>
            </form>
        </div>
    </div>
</body>
</html>