<meta charset="utf-8">
<div id="writeReviewForm" style="background-color:#F8F8F8; width:450px; border:1px solid #cccccc; margin-top:30px">
	<!-- 앨범 아이디:<input type="text" name="albumId" th:value=${albumId} readonly>
	유저 아이디:<input type="text" name="userId" th:value=${user.id} readonly> -->
	평점: 
	<span id="ratingZone">
		<select name="rating">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</span>
	<textarea th:text=${review.content} name="content" style="width:400px; height:500px; border:1px solid #dddddd"></textarea>
	<button id="jobBtn">Register Review</button><button id="cancelBtn" style="float:right">Cancel</button> 
</div>

<script>
	$(function(){
		if("[[${job}]]"=="update"){
			$("#jobBtn").html("Update Review");
			$("select[name='rating'] > option").each(function(){
				if($(this).val() == [[${review.rating}]]){
					$(this).attr("selected","selected");
				}
			});
		}
		if("[[${job}]]"=="delete"){
			$("#jobBtn").html("Delete Review");
			$("textarea[name='content']").attr("readonly","readonly");
			$("#ratingZone").html([[${review.rating}]]);
		}
		$("#cancelBtn").on('click',function(){
			$("#btnClickResult").html("");
			$("#addReviewBtn").attr("value","off");
			$("#updateReviewBtn").attr("value","off");
			$("#deleteReviewBtn").attr("value","off");
		});
		
		$("#jobBtn").on('click',function(){
			var albumId = [[${albumId}]];
			var userId = "[[${user.id}]]";
			var photo = "[[${user.photo}]]";
			var content = $("textarea[name='content']").val();
			var rating = $("select[name='rating']").val();
			rating = parseInt(rating);
			
			var obj = {
				"multiId":{
					"user":{
						"id":userId,
						"photo":photo
					},
					"album":{
						"id":albumId
					}
				},
				"content":content,
				"rating":rating
			};
			console.log(obj);
			
			if("[[${job}]]"=="create"){
				reviewManager.create(obj, function(list){
					printList(list);
					alert("새로운 리뷰가 추가되었습니다.");
					$("#btnClickResult").html("");
					$("#addReviewBtn").attr("value","off");
				});
			}else if("[[${job}]]"=="update"){
				reviewManager.update(obj, function(list){
					printList(list);
					alert("리뷰가 수정되었습니다.");
					$("#btnClickResult").html("");
					$("#updateReviewBtn").attr("value","off");
				});
			}else{
				if(confirm("정말로 삭제 하시겠습니까?")){
					reviewManager.remove(obj, function(list){
						printList(list);
						alert("리뷰가 삭제되었습니다.");
						$("#btnClickResult").html("");
						$("#deleteReviewBtn").attr("value","off");
					});
				}
			}
			
			
		});
	});
	
</script>
