<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Manager DeliveryList</title>
</head>

<div class="panel panel-default" layout:fragment="content1">

  <h1>main page</h1>
  <h1>Welcome! Album Shop!</h1>

  <div id="functions">
    <a href="/manager/account/accountList">계정 관리</a>
    <a href="/manager/content/contentList">컨텐츠 관리</a>
    <a href="/manager/board/boardList">게시판 관리</a>
    <a href="/manager/delivery/deliveryList">주문 관리</a>
    <a href="/manager/QnA/QnAList">질문 관리</a>
  </div>

  <div id="panel-body">

    <div id="table">
      <h3>deliveryList</h3>
      <table class="table table-hover" >
        <tr>
          <td>id</td>
          <td>user</td>
          <td>destinationAddress</td>
          <td>deliveryRequest</td>
          <td>deliveryRegDate</td>
          <td>deliveryUpdateDate</td>
          <td>orderState</td>
        </tr>

        <tr th:each="delivery : ${deliveryList}">
          <td th:text="${delivery.id}"></td>
          <td th:text="${delivery.user}"></td>
          <td th:text="${delivery.destinationAddress}"></td>
          <td th:text="${delivery.deliveryRequest}"></td>
          <td th:text="${delivery.deliveryRegDate}"></td>
          <td th:text="${delivery.deliveryUpdateDate}"></td>
          <td th:text="${delivery.orderState}"></td>
        </tr>

      </table>

    </div>
    <p></p>
    <p></p>
  </div>

</div>
</body>
</html>