<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/commonLayout}">
<head>
<th:block layout:fragment="style">
<style>
html {
    position: relative;
    min-height: 100%;
    margin: 0;
} 
body {
    min-height: 100%;
}

img {
	text-align: center;
	display : block;
     margin : auto;
}




#content{
     margin-bottom: 10%;
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%; 
	
}

h3{
color: red;
}

.emailCheck_1 {
	color: red;
	display: none;
}

.emailCheck_2 {
	color: red;
	display: none;
}

</style>
</th:block>

<title>로그인</title>
<meta charset="utf-8" />
</head>
<body>
	<div class="panel panel-default" layout:fragment="content">
	 <div id="content">
		<div class="panel-body">
			<h2>LOGIN</h2>
			
			 
			<div th:if="${param.error != null}">
			    <h3>아이디 또는 비밀번호가 틀립니다.</h3>
			    <h2 th:value="${param.error}"></h2>
			</div>
			<div th:if="${param.logout!= null}">
			    <h2>로그아웃됨</h2>    
			</div>
			 
			 
	<form class="form-horizontal" method="post">
  <div class="form-group">
    <label class="control-label col-sm-2" for="username">ID:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" name="username" value="" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="password">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" name="password" value="" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <br> 
     <div class="d-grid">

     <button type="submit" class="btn btn-secondary">로그인</button>
     </div>
      <br>
       <a href="/oauth2/authorization/google"><img src="/images/icon/btn_google_signin_light_normal_web@2x.png" alt="" width="300"
	 height="50"></a>
       <a href="/oauth2/authorization/naver"><img src="/images/icon/btnG_official.png" alt="" width="300" height="50"></a>
       <a href="/oauth2/authorization/kakao"><img src="/images/icon/kakao_login_large_narrow.png" alt="" width="300" height="50"></a>
    </div>
  </div>
  <br>
                      <button type="button" class="btn btn-link" 
                      data-bs-toggle="modal" data-bs-target="#myModal"
                       >아이디 찾기</button>
                        /
               <button type="button" class="btn btn-link" onclick="location.href='/#'">비밀번호 찾기</button>
                        /
           <button type="button" class="btn btn-link" onclick="location.href='/user/join'">회원가입</button>
                   
</form>		 
			
			
			 
		<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">아이디 찾기</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       
		<label>이름</label>
            <input type="text"
						class="form-control" id="name" name="name" value="" >										
         <label>이메일</label>
            <input type="text"
						class="form-control" id="email" name="email" value="" >
	
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
						data-dismiss="modal" id="check">확인</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div> 
			</div>
		</div>
		</div>

<th:block layout:fragment="script">
<script>
$("#check").click(function(){
	var email = $('#email').val();	
	var name = $('#name').val();
	var data = {"email" : email, "name" : name};	
	
		$.ajax({
			type : "post",
			url : "/findid",
			data : data,
			success : function(result){
				alert("아이디 찾기가 완료했습니다.\n\n회원의 아이디: " + result);
						
				
				 $("#myModal").modal("hide");
				 $("#username").val(result);
				 
				} 
	
	});


});



</script>	
	   
       
</th:block>
</body>
</html>


