<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/commonLayout}">

<head>

<meta charset="UTF-8">
<!--	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
<title>장바구니</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>
	<th:block layout:frgment="style">
		<style>
			a{text-decoration:none}
		</style>
	</th:block>
	<th:block layout:frgment="script">
		<script th:inline="javascript" th:src="@{'/js/cart.js'}"></script>
	</th:block>

</head>
<body>
	<div class="container mt-5" layout:fragment="content">
		<div id="myAlert" class="alert alert-success" style="display: none"><button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>장바구니에 담긴 앨범의 수량이 수정되었습니다. </div>
		<div id="myDeleteAlert" class="alert alert-warning" style="display: none"><button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>장바구니에 담긴 앨범을 삭제했습니다.</div>
		<h1>장바구니</h1>
		<p>[[${session.user.id}]]님의 장바구니입니다.</p>
		<div th:if="${cartlist.size()} == 0">
			<input type="hidden" th:value="0" class="cartId">
		</div>
		<div th:unless="${cartlist.size()} == 0">
			<input type="hidden" th:value="${cartlist.get(0).getCartId()}" class="cartId">
		</div>
		<div>
		<table class="table table-hover">
			<tr>
				<th class="text-center" th:width="10px"><input type="checkbox" name="checkAll" onclick="checkAll()"></th>
				<th class="text-center" th:width="15px">#</th>
				<th class="text-center" th:width="80px">커버</th>
				<th class="text-center">앨범명</th>
				<th class="text-center" th:width="200px">아티스트</th>
				<th class="text-center" th:width="120px">단가</th>
				<th class="text-center" th:width="70px">수량</th>
				<th class="text-center" th:width="120px">합계</th>
				<th class="text-center" th:width="50px">삭제</th>
			</tr>

			<div th:if="${cartlist.size()} == 0">
				<tr>
					<td colspan="9"><div id="listIsEmpty">장바구니가 비어있습니다.</div></td>
				</tr>
			</div>
			<div th:unless="${cartlist.size()} == 0">
				<tr th:each="cartDetail:${cartlist}">
					<td class="text-center align-middle"><input type="checkbox" name="itemChk" th:value="${cartDetail.getAlbumId()}"> </td>
					<td class="text-center align-middle" th:text="${cartlist.indexOf(cartDetail)+1}"></td>
					<td><a th:href="@{/albumdetail(albumId=${cartDetail.getAlbumId()})}" th:target="_blank"><img th:src="${cartDetail.getCover()}" th:width="60px" th:height="60px" ></a></td>
					<td class="align-middle"><a th:href="@{/albumdetail(albumId=${cartDetail.getAlbumId()})}" th:target="_blank" th:text="${cartDetail.getAlbumTitle()}"></a></td>
					<td class="align-middle" th:text="${cartDetail.getArtistName()}"></td>
					<td class="align-middle text-right" th:id="'price_' + ${cartDetail.getAlbumId()}" th:data-price="${cartDetail.getPrice()}" th:text="${cartDetail.getPrice()} + '원'"></td>
					<td><input type="number" class="form-control align-middle" onchange="changeQuantity(this)" th:id="'quantity_' + ${cartDetail.getAlbumId()}" th:data-quantity="${cartDetail.getQuantity()}" th:value="${cartDetail.getQuantity()}" min="1" th:max="${cartDetail.getRemaining()}"></td>
					<td class="align-middle text-right" th:id="'total_price_' + ${cartDetail.getAlbumId()}" th:data-price="${cartDetail.getQuantity()} * ${cartDetail.getPrice()}" th:text="${cartDetail.getQuantity()} * ${cartDetail.getPrice()} + '원'"></td>
					<td class="text-center align-middle"><button type="button" th:id="${cartDetail.getAlbumId()}" class="close" aria-label="Close"><span aria-hidden="true" th:id="${cartDetail.getAlbumId()}" th:data-albumId="${cartDetail.getAlbumId()}" onclick="deleteCartAlbum(this)">&times;</span></button></td>
				</tr>
			</div>
			<tr>
				<td colspan="5">
					<!--<button type="button" class="btn btn-warning btn-xs">선택삭제</button>-->
					<button type="button" class="btn btn-danger btn-xs" id="deleteAll" onclick="deleteCartAlbumAll()">전체삭제</button>
					<button type="button" class="btn btn-default btn-xs">마이리스트에 담기</button>
				</td>
				<td><b>총수량 / 총금액</b></td>
				<td><div id="totalQuantity"></div></td>
				<td><div class="text-right" id="totalPrice"></div></td>
				<td></td>
			</tr>
		</table>
			<div align="center" id="totalTable">
				<table class="table table-hover">
					<tr>
						<th>총 상품금액</th>
						<th>배송비</th>
						<th>총 결제금액</th>
					</tr>
					<tr>
						<td><div id="orderTotalPrice">0원</div></td>
						<td><div id="deliveryFee">3000원</div></td>
						<td><div id="finalOrderTotalPrice"></div></td>
					</tr>
					<tr>
						<td colspan="3"><div id="mileage">적립 예정 마일리지 : 0점(5%)</div></td>
					</tr>
				</table>
				<form action="" method="post">
					<input type="button" class="btn btn-default btn-lg" value="선택 앨범 주문">
					<input type="button" class="btn btn-primary btn-lg" value="전체 앨범 주문">
				</form>
			</div>
		</div>
	</div>
</body>
</html>