<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/commonLayout}">

<head>

<meta charset="UTF-8">
<title>장바구니</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

	<th:block layout:frgment="style">
		<style>
			a{text-decoration:none}
		</style>
	</th:block>
	<th:block layout:frgment="script">
		<!-- myList CRUD Module import -->
		<script th:inline="javascript" th:src="@{'/js/myListCRUDModule.js'}"></script>
		<script th:inline="javascript">
			var cartId;
			var totalOrderPrice = 0;
			var totalMileage = 0;
			$(function () {
				cartId = Number.parseInt($(".cartId").val());
				console.log("cartId" + cartId);
				$("input[name^=item]").prop("checked", true);
				getOrderTotalPrice();
				getMileage();
				$("input[name=itemChk]").change(function () {
					getOrderTotalPrice(); // Cart 안에 사용자가 선택한 앨범의 총수량 / 총금액
					getMileage();
				});
				getCartTotalPrice(); // Cart 안에 담겨 있는 앨범의 총수량 / 총금액

				// 마이리스트에 앨범 추가하기
				/* addMyList 버튼 클릭시 myList 추가 폼 가져오기 */
				$("#addMyList").on('click', function(){
					$(this).parent().html("이름<br><input id='myListTitle' style='width:248px; border:1px solid white; border-bottom:1px solid black' placeholder='리스트 이름 입력'></input><br><br><button id='makeMyList' style='color:#065FD4; background-color:white; border:1px solid white; float:right'>만들기</button>");
				});
				/* 새로운 마이리스트 만들기 버튼 클릭시 이벤트 */
				$(document).on('click','#makeMyList',function(){
					myListManager.makeMyList($(this));
				});
				$(".checkbox").change(function(){
					if($(this).is(":checked")){
						myListManager.insertAlbum($('input[name=itemChk]'),$(this).val());
						console.log('insert 완료');
					}else{
						myListManager.deleteAlbum($('#albumId'),$(this).val());
						console.log('delete 완료');
					}
				});
			});

			function checkAll(){
				if($("input[name=checkAll]").prop("checked")){
					$("input[name=itemChk]").prop("checked",true);
				}else{
					$("input[name=itemChk]").prop("checked",false);
				}
				getOrderTotalPrice();
				getMileage();
			}

			function getOrderTotalPrice() {
				var orderTotalPrice = 0;
				var deliveryFeeString = $("#deliveryFee").text();
				var deliveryFee = Number(deliveryFeeString.substring(0, deliveryFeeString.length-1));
				$("input[name=itemChk]:checked").each(function (){
					var checkedItemId = $(this).val();
					var price = $('#price_' + checkedItemId).attr("data-price");
					var quantity = $('#quantity_' + checkedItemId).val();

					orderTotalPrice += price * quantity;
					totalOrderPrice = orderTotalPrice;
					console.log("totalOrderPrice : " + totalOrderPrice);
				});
				$("#orderTotalPrice").html(orderTotalPrice + '원');
				if (orderTotalPrice == 0) {
					$("#finalOrderTotalPrice").html(orderTotalPrice + '원');
				} else {
					$("#finalOrderTotalPrice").html(orderTotalPrice + deliveryFee + '원');
				}
				getMileage();
			};

			function getCartTotalPrice() {
				var totalPrice = 0;
				var totalQuantity = 0;
				$("input[name=itemChk]").each(function (){
					var itemId = $(this).val();
					var price = $('#price_' + itemId).attr("data-price");
					var quantity = parseInt($('#quantity_' + itemId).val());

					totalPrice += price * quantity;
					totalQuantity += quantity;

				});
				$("#totalPrice").html(totalPrice + '원');
				$("#totalQuantity").html(totalQuantity + '장');
			}
			function changeQuantity(obj) {
				var quantity = obj.value;
				var itemId = obj.id.split('_')[1];
				var price = $("#price_" + itemId).data("price");
				var totalPrice = price * quantity;
				$("#total_price_" + itemId).html(totalPrice + '원');
				getCartTotalPrice();
				getOrderTotalPrice();
				getMileage();
				updateCartAlbumCount(cartId, itemId, quantity);
			}
			function getMileage() {
				var mileage = Math.floor(totalOrderPrice * 0.05);
				if ($('input[name="itemChk"]:checked').length == 0) {
					mileage = totalMileage;
				}

				console.log(mileage);
				$("#mileage").html("적립 예정 마일리지 : " + mileage + "점 (5%)");
			}
			function deleteCartAlbum (obj) {
				var albumId = Number.parseInt(obj.id);
				var url = "/cart/delete/" + cartId + "/" + albumId;
				console.log("delete id type : " + typeof albumId)
				console.log("delete id : " + albumId);

				if (confirm("장바구니에서 해당 앨범을 삭제하시겠습니까?") == true) {
					$.ajax({
						url      : url,
						type     : "DELETE",
						dataType : "json",
						cache   : false,
						success  : function(){
							location.href = '/cart';
							showDeleteAlert();
						},
						error : function(jqXHR){
							if(jqXHR.status == '401'){
								alert('로그인 후 이용해주세요');
								location.href='/user/login';
							}
						}
					});
				}
			}
			function deleteCartAlbumAll() {
				if (confirm("장바구니에서 모든 앨범을 삭제하시겠습니까?") == true) {
					var url = "/cart/delete/" + cartId + "/all";
					$.ajax({
						url      : url,
						type     : "DELETE",
						dataType : "json",
						cache   : false,
						success  : function(){
							location.href = '/cart';
						},
						error : function(jqXHR){

							if(jqXHR.status == '401'){
								alert('로그인 후 이용해주세요');
								location.href='/user/login';
							}
						}
					});
					showDeleteAlert();
				} else {
					alert("장바구니 비우기를 취소했습니다.");
				}

			}
			function updateCartAlbumCount(cartId, albumId, count) {
				var url = "/cart/update/" + cartId + "/" + albumId + "?count=" + count;

				$.ajax({
					url      : url,
					type     : "PATCH",
					dataType : "json",
					cache   : false,
					success  : function(){
						console.log("cartItem count update success");
						showQuantityUpdateAlert();
					},
					error : function(jqXHR){

						if(jqXHR.status == '401'){
							alert('로그인 후 이용해주세요');
							location.href='/user/login';
						}
					}
				});
			}
			function showQuantityUpdateAlert() {
				$("#myAlert").show();
			}
			function showDeleteAlert() {
				$("#myDeleteAlert").show();
			}
			/* 마이리스트에 앨범 추가하기 */

		</script>
	</th:block>

</head>
<body>
	<div class="container mt-5" layout:fragment="content">
		<div id="myAlert" class="alert alert-success" style="display: none"><button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>장바구니에 담긴 앨범의 수량이 수정되었습니다. </div>
		<div id="myDeleteAlert" class="alert alert-warning" style="display: none"><button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>장바구니에 담긴 앨범을 삭제했습니다.</div>
		<h1>장바구니</h1>
		<p>[[${session.user.id}]]님의 장바구니입니다.</p>
		<div th:if="${cartlist.size()} == 0">
			<input type="hidden" th:value="0" class="cartId">
		</div>
		<div th:unless="${cartlist.size()} == 0">
			<input type="hidden" th:value="${cartlist.get(0).getCartId()}" class="cartId">
		</div>
		<div>
		<table class="table">
			<tr>
				<th class="text-center" th:width="10px"><input type="checkbox" name="checkAll" onclick="checkAll()"></th>
				<th class="text-center" th:width="15px">#</th>
				<th class="text-center" th:width="80px">커버</th>
				<th class="text-center">앨범명</th>
				<th class="text-center" th:width="200px">아티스트</th>
				<th class="text-center" th:width="120px">단가</th>
				<th class="text-center" th:width="70px">수량</th>
				<th class="text-center" th:width="120px">합계</th>
				<th class="text-center" th:width="50px">삭제</th>
			</tr>

			<div th:if="${cartlist.size()} == 0">
				<tr>
					<td colspan="9"><div id="listIsEmpty">장바구니가 비어있습니다.</div></td>
				</tr>
			</div>
			<div th:unless="${cartlist.size()} == 0">
				<tr th:each="cartDetail:${cartlist}">
					<td class="text-center align-middle"><input type="checkbox" name="itemChk" th:id="'albumId_' + ${cartDetail.getAlbumId()}" th:value="${cartDetail.getAlbumId()}"> </td>
					<td class="text-center align-middle" th:text="${cartlist.indexOf(cartDetail)+1}"></td>
					<td><a th:href="@{/albumdetail(albumId=${cartDetail.getAlbumId()})}" th:target="_blank"><img th:src="${cartDetail.getCover()}" th:width="60px" th:height="60px" ></a></td>
					<td class="align-middle"><a th:href="@{/albumdetail(albumId=${cartDetail.getAlbumId()})}" th:target="_blank" th:text="${cartDetail.getAlbumTitle()}"></a></td>
					<td class="align-middle" th:text="${cartDetail.getArtistName()}"></td>
					<td class="align-middle text-right" th:id="'price_' + ${cartDetail.getAlbumId()}" th:data-price="${cartDetail.getPrice()}" th:text="${cartDetail.getPrice()} + '원'"></td>
					<td><input type="number" class="form-control align-middle" onchange="changeQuantity(this)" th:id="'quantity_' + ${cartDetail.getAlbumId()}" th:data-quantity="${cartDetail.getQuantity()}" th:value="${cartDetail.getQuantity()}" min="1" th:max="${cartDetail.getRemaining()}"></td>
					<td class="align-middle text-right" th:id="'total_price_' + ${cartDetail.getAlbumId()}" th:data-price="${cartDetail.getQuantity()} * ${cartDetail.getPrice()}" th:text="${cartDetail.getQuantity()} * ${cartDetail.getPrice()} + '원'"></td>
					<td class="text-center align-middle"><button type="button" th:id="${cartDetail.getAlbumId()}" class="close" aria-label="Close"><span aria-hidden="true" th:id="${cartDetail.getAlbumId()}" th:data-albumId="${cartDetail.getAlbumId()}" onclick="deleteCartAlbum(this)">&times;</span></button></td>
				</tr>
			</div>
			<tr>
				<td colspan="5">
					<div class="inline-block" id="BtnCollection">
						<button type="button" class="btn btn-danger btn-xs" id="deleteAll" onclick="deleteCartAlbumAll()">전체삭제</button>
						<button type="button" class="btn btn-primary btn-xs" value="off" name="boxing" data-bs-toggle="modal" data-bs-target="#myModal">마이리스트에 담기</button>
						<div id="btnClickResult"></div>
					</div>
					<div class="inline-block" id="reviewAndCatalog">
						<!-- The Modal -->
						<div class="modal" id="myModal">
							<div class="modal-dialog">
								<div class="modal-content" style="padding:0; width:300px">
									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title">마이리스트</h4>
										<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
									</div>

									<!-- Modal body -->
									<div style='padding:10px' class="modal-body">
										<h5>1. 마이리스트에 담을 앨범을 선택하세요.</h5>
										<table>
											<div th:if="${cartlist.size()} == 0">
												<tr>
													<td colspan="4"><div>장바구니가 비어있습니다.</div></td>
												</tr>
											</div>
											<div th:unless="${cartlist.size()} == 0">
												<tr th:each="cartDetail:${cartlist}">
													<td class="text-center align-middle"><input type="radio" name="itemChk" th:id="'checked_albumId_' + ${cartDetail.getAlbumId()}" th:value="${cartDetail.getAlbumId()}"> </td>
													<td><a th:href="@{/albumdetail(albumId=${cartDetail.getAlbumId()})}" th:target="_blank"><img th:src="${cartDetail.getCover()}" th:width="60px" th:height="60px" ></a></td>
													<td class="align-middle"><a th:href="@{/albumdetail(albumId=${cartDetail.getAlbumId()})}" th:target="_blank" th:text="${cartDetail.getAlbumTitle()}"></a></td>
													<td class="align-middle" th:text="${cartDetail.getArtistName()}"></td>
												</tr>
											</div>
										</table>
										<hr>

										<h5>2. 담고자 하는 마이리스트를 선택하세요.</h5>
										<ul th:if=${session.user!=null} style='list-style:none; padding:0; margin:0'>
											<li th:each="mylist:${session.user.mylists}">
												<input type='checkbox' th:value="${mylist.id}">&nbsp;[[${mylist.myListTitle}]]</input>
											</li>
										</ul>
									</div>

									<!-- Modal footer -->
									<div class="modal-body" style="border-top:1px solid #dee2e6">
										<button id="addMyList" style="border:1px solid white; background-color:white;"><img src="images/icon/makeNewList.png" width=15px height=15px> 새 리스트 만들기</button>										<div id="clickAddMyListBtnResult" style="padding:0"></div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</td>
				<td><b>총수량 / 총금액</b></td>
				<td><div id="totalQuantity"></div></td>
				<td><div class="text-right" id="totalPrice"></div></td>
				<td></td>
			</tr>
		</table>
			<div id="totalTable" class="center-block">
				<table class="table">
					<tr>
						<th>총 상품금액</th>
						<th>배송비</th>
						<th>총 결제금액</th>
					</tr>
					<tr>
						<td><div id="orderTotalPrice">0원</div></td>
						<td><div id="deliveryFee">3000원</div></td>
						<td><div id="finalOrderTotalPrice"></div></td>
					</tr>
					<tr>
						<td colspan="3"><div id="mileage">적립 예정 마일리지 : 0점(5%)</div></td>
					</tr>
				</table>
				<form action="/delivery/order" method="post">
					<input type="button" class="btn btn-default btn-lg" onclick="alert('준비중')" value="선택 앨범 주문">
					<input type="submit" class="btn btn-primary btn-lg" value="전체 앨범 주문">
				</form>
			</div>
		</div>
	</div>
</body>
</html>