@charset "EUC-KR";

.titleBox {
	border-bottom: 1px solid #EEEEEE;
	padding: 0 !important
}

.table {
	border: 1px solid white
}

ul li span:nth-child(1) {
	display: inline-block;
	color: #666;
	width: 20px
}

ul li span:nth-child(2) {
	display: inline-block;
	width: 7em
}

ul li span:nth-child(3) {
	color: #666;
	font-size: 13px
}

#totalPlayTime {
	background-color: #F7F7F7
}

#cover {
	background-color: #F7F7F7;
	width: 400px;
	height: 400px;
	width: 400px;
	background-color: #F7F7F7
}

#purchaseMenu {
	background-color: #F7F7F7;
	width: 400px
}

#reviewAndCatalog, .reviews {
	padding: 0;
	border-top: 1px solid #EEEEEE
}

.row div {
	padding: 25px
}

h1, h3 {
	font-size: 30px;
	font-weight: lighter;
	color: #555555;
}

h2, .table th {
	color: #555555;
	font-size: 18px;
	text-align: left;
	font-weight: lighter
}

.review_header {
	width: 100% !important;
	padding: 0 !important;
	background-color: #EEEEEE;
	border-radius: 4px
}

.review_header img {
	width: 36px;
	height: 36px;
	border-radius: 4px;
	margin-right: 10px
}

.user_id {
	font-weight: bolder;
	margin-right: 15px
}

.update_date {
	font-size: 12px;
	color: #606060
}

.rating {
	float: right;
	margin-right: 20px;
	margin-top: 5.5px
}

.smallFont {
	font-size: 12px
}

.review_body {
	padding: 10px 36px 0px 36px !important
}

.review_body pre{
	margin-bottom:10px
}

.review_footer {
	padding: 0px 36px 25px 36px !important
}

.review_footer button {
	background-color: white;
	border:1px solid white;
	font-size:12px;
	color:#606060;
	padding:5px;
}

.review_footer div {
	font-size:12px;
	color:#606060;
	margin-right:8px;
}

.btnType1 {
	background-color: #DBDBDB;
	color: #444444;
	border-radius: 4px;
	padding: 5px;
	font-size: 12px;
	border: 1px solid white
}

#btnClickResult {
	padding:0 !important;
}

.reviews > div {
	padding:0 !important;
}

.likeCount, .disLikeCount {
	display:inline-block;
	padding:0 !important
}

