<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>앨범 리스트</h1>
<center>
	<table border="1" th:each="albumlist:${albumlist}">
		<tr>
			<td rowspan="4"><a th:href="@{/albumdetail(id=${albumlist.id})}"><img alt="${albumlist.cover}" th:src="@{${albumlist.cover}}" width="90px" height="90px"></a></td>
		</tr>
		<tr>
			<td><a th:href="@{/albumdetail(id=${albumlist.id})}">[[${albumlist.title}]]</a> / [[${albumlist.releaseDate}]]</td>
			<td>리뷰수</td>
			<td colspan="2">공감수 : [[${albumlist.remaining}]]</td>
		</tr>
		<tr>
			<td colspan="4"><a th:href="@{/artistdetail}">가수 [[${albumlist.id}]]</a> / [[${albumlist.genre}]]</td>
		</tr>
		<tr>
			<td>[[${albumlist.description}]]</td>
			<td>가격 : [[${albumlist.price}]]</td>
			<td><button>구매</button></td>
			<td><button>담기</button></td>
		</tr>
		<p></p>
	</table>
	</center>
</body>
</html>